/*Banner*/
.banner{
    font-family: "DM Serif Text", serif;   
}

/*Navbar*/
.navbar-container{
    color: white;
    .menu{
        /*li*/
        li{
            a{
            font-size: 20px;
            }
        }
        .logo-name{
            a{
                font-size: 30px;
            }
        }
    }

    .menu2{
        li{
            font-size: 20px;
        }
    }
}

.search{
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

